
/*//////////////////////////////////!*공통영역*!//////////////////////////////////*/
body {
    background: #67A4FF;
}

button {
    border: none;
    background: none;
    cursor: pointer;

    transition: 0.5s;
}

button:hover {
    transform: scale(1.13);
}

.page_inside {
    box-sizing: border-box;

    width: 96vw;
    height: 96vh;
    margin: 2vh 2vw;

    background: #FFE589;
    border-radius: 9px;

    box-shadow: 1px 1px 4px 1px #c5da6c;
}

@keyframes ani{
    from {
    }
    to {
        box-shadow: 2px 2px 4px 3px rgba(197, 175, 97, 0.72);
    }
}
.top_container {
    display: flex;
    box-sizing: border-box;

    height: 14.4vh;
    align-content: space-around;
    margin: 0 3vmin;
}

#left_icons{
    display: flex;
    box-sizing: border-box;

    position: fixed;
    width: 10vmax;
    height: 3vmax;
    top: 7.2vh;
    left: 6.0vw;

    border-radius: 45px;

    background: #b4e867;
    box-shadow: 1px 1px 3px 1px #9fcc5a;

    padding-left: 3px;
    padding-top: 3px;
}

#left_icons img {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

#left_icons button {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

#right_icons{
    display: flex;
    box-sizing: border-box;

    position: fixed;
    width: 10vmax;
    height: 3vmax;
    top: 7.2vh;
    right: 4.8vw;
    margin-left: 20px;

    background: #FF7D7D;
    border-radius: 45px;

    box-shadow: 1px 1px 3px 1px rgb(220, 107, 107);

    padding-left: 4px;
    padding-top: 4px;
}

#right_icons img {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

#right_icons button {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.mid_container {
    box-sizing: border-box;

    position: relative;
    width: 90vw;
    height: 82%;

    background: #FFE589;
    border-radius: 9px;

    box-shadow: 1px 1px 4px 1px #d0b967;
    margin: 0 3vmax
;
    overflow-y: scroll;
}
.mid_container::-webkit-scrollbar{
    width: 14px;
    height: 30%;
}

.mid_container::-webkit-scrollbar-thumb{
    display: inline-block;
    background: rgba(255, 255, 255, 0.73);
    box-shadow: inset 0 0 1px 1px rgba(152, 152, 152, 0.2);
    border-radius: 9px;
}


/*////////////////////////////////////!*메인 페이지*!////////////////////////////////////*/
#search_window_input {
    position: fixed;
    width: 62vw;
    height: 2.9vmax;
    top: 7.2vh;
    left: 19.2vw;

    background: #fff;
    border: 1px solid rgba(238, 234, 234, 0.1);
    border-radius: 45px;
    padding-left: 1.3%;
    color: #8c8c8c;


    box-shadow: 1px 1px 3px 1px #989898;
    outline: none;
}

#search_window_input::placeholder {
    color: rgba(140, 140, 140, 0.85);
    opacity: 70%;
}

#search_window_input:focus {
    transform: scale(1.02);
    animation-name: ani;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#search_window_input:hover {
    transform: scale(1.02);
    transition-duration: 0.7s;
}

/*////////////////////////////////////!*레시피 페이지*!////////////////////////////////////*/


#recipe_name_window_input {
    position: fixed;
    width: 62vw;
    height: 2.9vmax;
    top: 7.2vh;
    left: 19.2vw;

    background: #fff;
    border: 1px solid rgba(238, 234, 234, 0.1);
    border-radius: 15px;
    padding-left: 1.3%;
    color: #8c8c8c;


    box-shadow: 1px 1px 3px 1px rgba(152, 152, 152, 0.87);
    outline: none;
}

#recipe_name_window_input::placeholder {
    color: rgba(140, 140, 140, 0.85);
    opacity: 70%;
}

#recipe_name_window_input:focus {
    transform: scale(1.02);
    animation-name: ani;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#recipe_name_window_input:hover {
    transform: scale(1.02);
    transition-duration: 0.7s;
}

#recipe_top_partition {
    position: relative;
    width: 98%;
    height: 50%;
    top: 2%;
    left: 1.25%;

    border: 4px solid #FF7D7D;
    margin-bottom: 2%;
}

#recipe_bottom_partition {
    position: relative;
    width: 98%;
    height: fit-content;

    top: 2%;
    left: 1.25%;
    border: 4px solid #FF7D7D;

}

#quantity {
    width: 8%;
    text-align: center;
    background: #fff;
    border: 1px solid rgba(238, 234, 234, 0.1);
    border-radius: 15px;
    color: #8c8c8c;

    box-shadow: 1px 1px 3px 1px rgba(152, 152, 152, 0.87);
    outline: none;
}

#quantity::placeholder {
    color: rgba(140, 140, 140, 0.85);
    opacity: 70%;

}

#quantity:focus {
    transform: scale(1.01);
    animation-name: ani;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#quantity:hover {
    transform: scale(1.02);
    transition-duration: 0.7s;
}

/*//////////////////////////////////!*extra edit*!//////////////////////////////////////*/

#back {
    height: 3.1vmax !important;
    margin-top: -2px !important;
}

#edit {
    height: 2vmax !important;
    margin-top: 4.5% !important;
    margin-left: 2% !important;
}

/*/////////////////////////////////////////!*etc*!////////////////////////////////////////*/
#to_check {
    box-sizing: border-box;

    position: relative;
    width: 88vmax;
    height: 100vmax;
    left: 3%;

    margin: 1vmax 1vmax;

    background: #FFE589;
    border-radius: 9px;
}